article {
  border: 5px solid #545149;
}

article footer {
  padding: 0.5em;
  margin: 2%;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  border: none;
  border-top: 5px solid #545149;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

footer img {
  height: 30px;
  padding: 3px;
}

footer p {
  margin: 0;
  height: 30px;
  font-size: 18px;
}

.tweet-handle {
  margin-right: 2%;
  display: none;
}

article:hover .tweet-handle {
  display: inline;
}

article:hover .bold {
  font-weight: bold;
}

article .tweet {
  padding: 0.5em;
  margin: 2%;
  margin-bottom: 0;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

header .tweet-avatar {
  display: inherit;
}

header .profile {
  font-size: 1.3em;
}

.tweet img {
  padding-right: 5%;
  height: 100px;
}

.tweet-input {
  margin: 3%;
  margin-top: 0;
  overflow: auto;
}

article {
  overflow: auto;
}

article:hover {
  box-shadow: 15px 20px #3e556d72;
}